[Unit]
Description=app1 unit
After=syslog.target
After=network.target

[Service]
Type=simple
#PIDFile=/work/www/myunit/shared/tmp/pids/service.pid
WorkingDirectory=/home/app1/web

User=root
Group=root

Environment=RACK_ENV=production

OOMScoreAdjust=-1000

ExecStart=/usr/bin/java -jar /home/app1/web/spark-spa-all-1.0.jar
#ExecStop=/usr/local/bin/bundle exec service -S /work/www/myunit/shared/tmp/pids/service.state stop
#ExecReload=/usr/local/bin/bundle exec service -S /work/www/myunit/shared/tmp/pids/service.state restart
TimeoutSec=300

[Install]
WantedBy=multi-user.target